body {
	/*
	background-color: #c60c30;
	*/
	background-color: rgba(149, 12, 48, 1.0);
	color: black;
	font-family: Homemade Apple;
	font-size: 1rem;
}

a:active,
a:link,
a:visited,
a:hover,
a {
	color: black;
	font-size: 1.5rem;
	padding: 1rem;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.flex-center {
	/*
	align-items: center;
	*/
	display: flex;
	justify-content: center;
}

.invitation {
	background-image: url('./parchment.jpg');
	background-position: right;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 1rem;
	box-shadow: 1rem 1rem 1rem black;
	margin: 2rem;
	width: 960px;
}

.invitation-appear {
	opacity: 0.01;
}

.invitation-appear.invitation-appear-active {
	opacity: 1;
	transition: opacity .5s ease-in;
}

.invitation > h1 {
	font-weight: normal;
	text-align: center;
}

.invitation > img {
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.invitation > p {
	padding: 0rem 1rem 1rem;
	text-align: center;
}

.invitation > p > span {
	display: block;
	margin: 1rem;
}
