body {
	/*
	background-color: #c60c30;
	*/
	background-color: rgba(149, 12, 48, 1.0);
	color: black;
	font-family: Homemade Apple;
	font-size: 1rem;
}

a:active,
a:link,
a:visited,
a:hover,
a {
	color: black;
}

a:link {
	font-size: 2.4rem;
	padding: 1rem;
	text-decoration: none;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.flex-leftish {
	align-self: flex-start;
}

.invitation {
	background-image: url('./images/parchment.jpg');
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 1rem;
	box-shadow: 1rem 1rem 1rem black;
	margin: 2rem;
	width: 960px;
}

.invitation > img {
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.invitation-appear {
	opacity: 0.01;
}

.invitation-appear.invitation-appear-active {
	opacity: 1;
	transition: opacity 1s ease-in;
}

.invitation-footer {
	font-size: 3.2rem;
}

.invitation-header {
	font-size: 3.2rem;
	font-weight: normal;
	padding: 1rem;
	text-align: center;
}

.invitation-text {
	width: 720px;
}

.invitation-text > p {
	font-size: 1.6rem;
	padding: 1rem;
	text-align: center;
}

.invitation-text > p > span {
	display: block;
	margin: 1rem;
}

.invitation-text > ul {
	margin-left: 3rem;
	padding: 1rem;
	text-align: left;
}

.invitation-text > ul > li {
	font-size: 1.6rem;
}
